body {
    background-color: hsl(180, 100%, 27%);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

.dropdown {
 text-align: right;
}

/* Style the dropdown button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown content */
.dropdown-content {
  display: none;
  position: right;
  background-color: #333333;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  text-align: right;

}

/* Links inside dropdown content */
.dropdown-content a {
  color: rgb(255, 248, 248);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #111111
}

/* Show the dropdown content on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change background color of dropdown button on hover */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

footer {
background-color: #333333;
text-align: center;
color: white;
padding: 1px;
position: fixed;
left: 0;
bottom: 0;
width: 100%;
}

h2{
    background-color: #333333;
    color: white;
    padding: 5px;
    width: fit-content;
}

.container {
  display: flex;           /* Arrange items in a row */
  align-items: center;     /* Vertically center text with image */
  gap: 10px;               /* Space between image and text */
}

.image {
  width: 180px;
  height: auto;
}

.text {
  margin: 0;
  background-color:#333333;
  color: white;
  padding: 5px;
}

.imageA {  
padding: 20px;
background-color: #333333;
}

.imageB {
  padding: 20px;
  background-color: #333333;
}

.imageA:hover{
  background-color: #4CAF50;
}

.imageB:hover{
  background-color: #4CAF50;
}


